.fadeIn {
    opacity: 0;
    filter: blur(15px);
    transform: scale(0.94);
    animation:
        scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1),
        fade-in 4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

#ayah.fadeIn {
    animation-delay: 0s;
}

#translation.fadeIn {
    animation-delay: 2s;
}

#portfolio.fadeIn {
    animation-delay: 4s;
}
