body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('b.webp') no-repeat center center fixed;
    background-size: cover;
    font-size: 1rem;
    flex-direction: column;
}

body:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#ayah {
    height: 8vw;
    min-height: 3em;
}

#translation {
    font-size: 1.5vw;
    color: white;
    font-family: 'Cormorant', serif;
}

@media screen and (max-width: 600px) {
    #translation {
        font-size: 1.1vh;
    }
}