body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90%;
}

#langswitch {
    display: flex;
}

#label {
    position: fixed;
    top: 40%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#label * {
    margin: 0;
}

#logo {
    display: flex;
    height: 3em;
    transition: transform 0.5s;
}

#logo:hover {
    animation: spin 2s ease-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#logo:not(:hover) {
    animation: unspin 2s ease-out forwards;
}

@keyframes unspin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#title {
    font-family: 'EB Garamond', serif;
    display: flex;
    margin: 0 0.3em;
    font-size: 1.6em;
    font-weight: 500;
}

#beta {
    display: flex;
    font-size: 0.7em;
}

#chatLog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90%;
    overflow: auto;
}

.chat {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    font-family: 'Open Sans', sans-serif;
    margin: 5px 0;
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
    gap: 1em;
}

.profile {
    height: 100%;
}

.user {
    display: flex;
}

.assistant .chatText {
    display: flex;
    background-color: #d4e7dd;
    padding: 24px 32px;
    border-radius: 32px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 0.2), 0px 2px 2px 0px rgb(0 0 0 / 0.14), 0px 1px 5px 0px rgb(0 0 0 / 0.12);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.chat.assistant {
    animation: fadeIn 2s;
}

.loader {
    width: 0.5em;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0% {
        box-shadow: 0.75em 0 #000, -0.75em 0 #0002;
        background: #000
    }

    33% {
        box-shadow: 0.75em 0 #000, -0.75em 0 #0002;
        background: #0002
    }

    66% {
        box-shadow: 0.75em 0 #0002, -0.75em 0 #000;
        background: #0002
    }

    100% {
        box-shadow: 0.75em 0 #0002, -0.75em 0 #000;
        background: #000
    }
}

.chatText {
    display: flex;
    flex-direction: column;
    z-index: 1;
    font-family: 'Amiri', serif;
}

#input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    height: 4em;
    width: 100%;
    background-color: #f0f4f9;
    border-radius: 32px;
    box-shadow: inset 0 0 0 1px transparent;
    margin: 0.75em 0 10px;
}

#userInput {
    display: flex;
    height: auto;
    box-sizing: border-box;
    border: 0;
    flex-grow: 1;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#userInput:focus {
    outline: none;
}

#send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: auto;
    background-color: transparent;
    border: 0;
}

#send span {
    font-size: 2.2em;
}

#control {
    display: flex;
    gap: 1em;
    font-size: 0.5em;
    align-items: center;
    position: fixed;
    top: 1em;
}